.bloglist {
  padding-left: 35px;
  padding-right: 5em;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footermain {
  display: none;
}

.normal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  margin-bottom: 10px;
}

.reverse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  margin-bottom: 10px;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 600px) {
  .bloglist {
    display: inline-block;
    padding: 0px;
    padding-left: 5px;
    width: 100%;
  }
  .footermain {
    display: block;
    text-align: center;
    margin: 0px;
    background-image: grey;
  }
}
