html body {
  margin: 0px;
  padding: 0px;
}

a:visited {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}
