.author {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 100%;
    background-clip: padding-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textauthor {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.82813rem;
    margin: .8125rem 0;

}

.summarytext {
    line-height: 1.625rem;
    margin-bottom: 1.625rem;
}