.layout {
  display: grid;
  grid-template-columns: minmax(150px, 300px) 1fr;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .layout {
    display: inline-block;
    width: 100%;
    min-width: 400px;
  }
}
