.sidebar {
  padding: 40px;
  display: inline-block;
  border-style: none solid none none;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) , #e6e6e6, rgba(0, 0, 0, 0)) 1 100%;
}

footer {
  color: #b6b6b6;
  font-size: 0.875rem;
  margin-top: 50px;
}

.logocontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.logoimg {
  width: 1.5em;
  height: 1.5em;
  border: 0;
  display: flex;
  fill: black;
}
.logoimg:hover {
  fill: darkslateblue;
}

.logolist {
  padding: 0;
  margin: 0.25rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 2.1875rem;
  width: 2.1875rem;
  line-height: 2.1875rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #ebebeb;
}

nav li {
  list-style-type: none;
  margin: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

.active{
    text-decoration: underline;
}